.phpdebugbar{
    display: none;
}
.pagination{
    list-style: none;
}
.pagination li{
    display: inline-block;
    width: 20px;
    border: 1px solid #dfb990;
    text-align: center;
}
.pagination li a{
    text-decoration: none;
    color: #000;
}
.pagination li.pagination__item_active{
    background: #fff;
}
.article__title{
    text-decoration: none;
    color: #4c3124;
}

.callback .call-btn {
  background: #bdc7ae;
  color: #6c845a;
}
